<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="manejador-app">
  <template>
    <style>
    [hidden] {
      display: none !important;
    }
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy el que maneja</h1>
    <login-usuario hidden$={{estoylogado}} id="login" on-eventologin="procesar"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="vcccs"></visor-cuentas>
  </template>

  <script>
    /**
     * `page-not-found.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ManejadorApp extends Polymer.Element {
      static get is() { return 'manejador-app'; }
      static get properties() {
        return {
          estoylogado: {
            type: Boolean,
            value: false
          }
        };
      }
      procesar(e) {
        var id = e.detail.id
        this.$.vcccs.consultarCuentas(id)
        this.estoylogado = true
      }
    }

    window.customElements.define(ManejadorApp.is, ManejadorApp);
  </script>
</dom-module>
